<h2>{{ esModoEdicion ? 'Editar Evento' : 'Crear Nuevo Evento' }}</h2>

<form [formGroup]="formularioEvento" (ngSubmit)="enviarFormulario()">
  
  <div>
    <label for="titulo">Título:</label>
    <input id="titulo" formControlName="titulo">
    <div *ngIf="formularioEvento.get('titulo')?.invalid && formularioEvento.get('titulo')?.touched">
      <small *ngIf="formularioEvento.get('titulo')?.errors?.['CampoBlanco']">El título es obligatorio y no puede estar en blanco.</small>
    </div>
  </div>

  <div>
    <label for="descripcion">Descripción:</label>
    <textarea id="descripcion" formControlName="descripcion"></textarea>
     <div *ngIf="formularioEvento.get('descripcion')?.invalid && formularioEvento.get('descripcion')?.touched">
      <small *ngIf="formularioEvento.get('descripcion')?.errors?.['CampoBlanco']">La descripción es obligatoria y no puede estar en blanco.</small>
    </div>
  </div>

  <div>
    <label for="fecha">Fecha de Inicio:</label>
    <input id="fecha" type="datetime-local" formControlName="fecha">
  </div>

  <div>
    <label for="lugar">Lugar:</label>
    <input id="lugar" formControlName="lugar">
  </div>

  <div>
    <label for="fechaFin">Fecha de Finalización (Opcional):</label>
    <input id="fechaFin" type="datetime-local" formControlName="fechaFin">
    <div *ngIf="formularioEvento.hasError('FechaInvalida')">
      <small>La fecha de finalización no puede ser antes de la de inicio.</small>
    </div>
  </div>

  <div>
    <label for="capacidad">Capacidad (Opcional):</label>
    <input id="capacidad" type="number" formControlName="capacidad">
    <div *ngIf="formularioEvento.get('capacidad')?.hasError('min')">
      <small>La capacidad debe ser mayor a 1</small>
    </div>
  </div>

  <div>
    <label for="precio">Precio (Opcional):</label>
    <input id="precio" type="number" step="0.01" formControlName="precio">
     <div *ngIf="formularioEvento.get('precio')?.hasError('min')">
      <small>No se aceptan precios negativos</small>
    </div>
  </div>

  <button type="submit" [disabled]="formularioEvento.invalid">{{ esModoEdicion ? 'Guardar Cambios' : 'Crear Evento' }}</button>
</form>
