<div class="account-container" style="padding: 20px; max-width: 600px; margin: auto;">
    <h2>Mi Cuenta</h2>
    <div *ngIf="usuarioActual" style="line-height: 1.8;">
      <p><strong>Nombre de Usuario:</strong> {{ usuarioActual.nombreUsuario }}</p>
      <p><strong>Nombre Completo:</strong> {{ usuarioActual.nombreCompleto }}</p>
      <p><strong>Correo Electrónico:</strong> {{ usuarioActual.correo }}</p>
      <p><strong>Fecha de Nacimiento:</strong> {{ usuarioActual.fechaNacimiento}}</p>
      <p><strong>Dirección:</strong> {{ usuarioActual.direccion}}</p>
    </div>
  </div>