<h2>Lista de Eventos</h2>

<table *ngIf="eventos$ | async as eventos">
  <thead>
    <tr>
      <th>Título</th>
      <th>Descripción</th>
      <th>Fecha</th>
      <th>Fecha Fin</th>
      <th>Lugar</th>
      <th>Capacidad</th>
      <th>Precio</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let evento of eventos">
      <td>{{ evento.titulo }}</td>
      <td>{{ evento.descripcion }}</td>
      <td>{{ evento.fecha | date: 'dd/MM/yyyy h:mm a'}}</td>
      <td>{{ evento.fechaFin | date: 'dd/MM/yyyy h:mm a'}}</td>
      <td>{{ evento.lugar }}</td>
      <td>{{ evento.capacidad }}</td>
      <td>{{ evento.precio | currency }}</td>
      <td>
        <ng-container *ngIf="usuarioActual">
          <button 
            (click)="inscribirse(evento.eventoId)" 
            [disabled]="esCreador(evento) || estaInscrito(evento.eventoId)">
            <span *ngIf="esCreador(evento)">Eres el creador</span>
            <span *ngIf="!esCreador(evento) && estaInscrito(evento.eventoId)">Ya inscrito</span>
            <span *ngIf="!esCreador(evento) && !estaInscrito(evento.eventoId)">Inscribirse</span>
          </button>
        </ng-container>
      </td>
    </tr>
  </tbody>
</table>