<h2>Lista de Eventos</h2>
<a routerLink="/eventos/nuevo">Crear Nuevo Evento</a>

<table *ngIf="eventos$ | async as eventos">
  <thead>
    <tr>
      <th>Título</th>
      <th>Fecha</th>
      <th>Lugar</th>
      <th>Fecha Fin</th>
      <th>Capacidad</th>
      <th>Precio</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let evento of eventos">
      <td>{{ evento.titulo }}</td>
      <td>{{ evento.fecha | date: 'short' }}</td>
      <td>{{ evento.lugar }}</td>
      <td>{{ evento.fechaFin }}</td>
      <td>{{ evento.capacidad }}</td>
      <td>{{ evento.precio }}</td>
      <td>
      </td>
    </tr>
  </tbody>
</table>